body{
font-family:Arial;
background:#0b0b0b;
color:white;
text-align:center;
padding:20px;
}

h1{
color:#00ffd5;
}

input{
padding:12px;
width:80%;
border-radius:6px;
border:none;
}

button{
padding:12px;
margin:8px;
border:none;
border-radius:8px;
background:#00ffd5;
cursor:pointer;
}

#result{
margin-top:25px;
background:#1c1c1c;
padding:20px;
border-radius:10px;
}
